#content-section {
  view-transition-name: content-section;
}

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(1000px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-1000px); }
}


::view-transition-old(content-section) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(content-section) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}


/* ::view-transition-old(root) {
  transition: none;
}

::view-transition-new(root) {
  transition: none;
} */